<h1>示例1</h1>
<h3>
  Hello World!
</h3>

<h1>示例2</h1>
<example-content>
  <header>Header content</header>
  <div class="class-select">div with .class-select</div>
  <div id="id-select">div with #id-select</div>
  <div name="footer">Footer content</div>
</example-content>

<h1>示例3</h1>
<zouInput>
</zouInput>


<h1>示例4</h1>
<animations-example>
</animations-example>

<h1>示例5</h1>
<p>1 + 2 = {{1+2}}</p>

<h1>示例6</h1>
<table width="100%" border="1">
  <tr>
    <th>Month</th>
    <th>Savings</th>
    <th>Canvas</th>
  </tr>
  <tr>
    <td colspan="2">January</td>
    <td>Jasame</td>
  </tr>
  <tr>
    <td attr.colspan="{{ 1.3 + 1.7 }}">WhoAmI</td>
  </tr>
</table>

<h1>示例7</h1>
<div class="red font30" style="height:40px;width:100px">
  font30
</div>

<h1>示例8</h1>
<button [style.font-size.px]="isLarge ? 18 : 30">isLarge 如果是true，那么按钮字体就被设置成18px</button>

<h1>示例9</h1>
<list></list>

<h1>示例10</h1>
<formX></formX>

<h1>示例11</h1>
<pipe-demo></pipe-demo>

<h1>示例12</h1>
<div>
  <div>
    <span>Number 1:</span>
    <amount [(value)]="number1"></amount>
  </div>
  <div>
    <span>Number 2:</span>
    <amount [value]="number2" (valueChange)="number2=$event"></amount>
  </div>
  <ul>
    <li>Number 1: {{number1}}</li>
    <li>Number 2: {{number2}}</li>
  </ul>
</div>

<h1>示例13</h1>
<!-- <div zouBeautifulBackground>zouBeau</div> -->
<div>
  <input type="radio" name="colors" (click)="color='green'" />绿色
  <input type="radio" name="colors" (click)="color='yellow'" checked="checked" />黄色
  <input type="radio" name="colors" (click)="color='red'" />红色
</div>
<!-- <div [zouBeautifulBackground]='color'>zouBeau</div> -->
<div zouBeautifulBackground [backgroundClr]='color'>zouBeau</div>
